<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>browager</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp-507812768629-mr8tv9dvm70kd18vjao8muri6r8djgef.apps.googleusercontent.com</string>
				<string>com.googleusercontent.apps.507812768629-mr8tv9dvm70kd18vjao8muri6r8djgef</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>browager-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>browager</string>
			</array>
		</dict>
	</array>
	<key>GEMINI_API_KEYS</key>
    <array>
            <string>AIzaSyComOnoMWwT50Sp__eWpIuW3CGb221GHZQ</string>
    </array>
	<key>GIDClientID</key>
	<string>507812768629-mr8tv9dvm70kd18vjao8muri6r8djgef.apps.googleusercontent.com</string>
	<key>GOOGLE_CSE_API_KEY</key>
	<string>AIzaSyAAmgQw_YbvXDGFJmbe0xPkSliEz3XMrj8</string>
	<key>GOOGLE_CSE_ENGINE_ID</key>
	<string>7549fdace758542a0</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>This app needs notification access to alert you when you receive new messages from friends and party members.</string>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3cWJqYWtrdXByc3l2d3hsZ2NoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczMzMxNDUsImV4cCI6MjA2MjkwOTE0NX0.9BTfCnpDCIzQ8Zve69JpJ6_B_AeGier_uuEQgNBlqMM</string>
	<key>SUPABASE_URL</key>
	<string>https://wwqbjakkuprsyvwxlgch.supabase.co</string>
</dict>
</plist>
